@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background-color: #EEECE0;
  --primary-text-color: #4D5850;
  --secondary-text-color: #3F3F3D;
  --accent-color: #8F9B87;
  --button-background-color: #4D5850;
  --hover-background-color: #8F9B87;
  --hover-text-color: #EEECE0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  min-height: 100vh;
  height: auto;
  padding: 20px;
}

/* Navbar */
.navbar{
  background-color: var(--primary-text-color);
}
.collapse{
  justify-content: center;
  padding-right: 10%;
}

.nav-link{
  color: var(--background-color);
}

.nav-item{
  font-size: 1.2rem;
}

.nav-item:hover{
  color: var(--hover-text-color);

}

/*About us*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .nav-link.active {
  max-width: 20%;
  width: 50px;
  background-color: lightblue;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

@keyframes activeLinkAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link.active {
  color: red;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item.clicked {
  border: 2px solid blue;
  border-radius: 20px;
  background-color: lightblue;
}

.nav-link.active:hover {
  color: blue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.title-container{
  text-align: center;
  font-weight: bold;
  color: var(--primary-text-color);
  padding-top: 5px;
}

.box {
  border-radius: 150px;
  background: var(--background-color);
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.box:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 0px;
  height: 100%;
  border-radius: 150px;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.30);
  transition: all 0.3s ease;
  background-image: linear-gradient(to right, var(--accent-color) 0%, var(--button-background-color) 100%);
}

.box:hover:before {
  width: 100%;
}

.box:hover .image-wrapper {
  padding: 0;
}

.box:hover .box-desc {
  color: var(--primary-text-color);
}

.box:hover .social li a {
  background: var(--secondary-text-color);
  background-image: none;
  color: var(--hover-text-color);
}

.box:hover .social li a:hover {
  background: var(--background-color);
  color: var(--secondary-text-color);
}

.image-wrapper {
  position: relative;
  max-width: 210px;
  max-height: 210px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.5s ease;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.20);
}

.image-wrapper img {
  border-radius: 50%;
  transition: all 500ms ease;
}


ul.social {
  padding: 30px;
}

ul.social li {
  display: inline-block;
  list-style-type: none;
}

ul.social li a {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: linear-gradient(to right, var(--secondary-text-color) 0%, var(--accent-color) 100%);
  display: inline-block;
  line-height: 36px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.aboutus-text {
  margin: 20px;
  width: 900px;
  margin-right: 200px;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  text-align: justify;
}

.about-us-icon{
    margin-left: 970px;
    margin-top: -300px;
    width: 300px;
    height: 300x;
}

span {
  font-weight: bold;
}

.developer-type {
  font-size: 0.8rem;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80%;
    margin-top: 10px;
  }

  h5 {
    text-align: center;
  }

  .aboutus-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  ul.social {
    padding: 20px;
  }

  ul.social li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .box {
    width: 90%;
  }

  .h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
    padding: 5px;
  }

  .developer-type {
    font-size: 0.7rem;
    padding: 5px;
  }

  ul.social {
    padding: 10px;
  }

  ul.social li a {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.our-goal-text{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 600px;
    margin-top: -400px;
    text-align: justify;
    max-width: fit-content;
    min-width: auto;
    margin-right: 25px;
    margin-top: auto;
}

.our-goal-h3{
    margin-left:600px;
}

/* Currencies Page */
.table-container {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--primary-text-color);
  overflow-x: auto; 
}

.currency-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.currency-table th, .currency-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--secondary-text-color);
}

.currency-table th {
  background-color: var(--accent-color);
  color: var(--hover-text-color); 
}

.currency-table tr:hover {
  background-color: var(--hover-background-color);
  transition: background-color 0.3s ease; 
}

.currency-table tbody tr:last-child td {
  border: none;
}

.centered-title {
  text-align: center;
  margin: 20px 0;
}

.currency-table button {
  padding: 6px 12px;
  background-color: var(--button-background-color);
  color: var(--hover-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.currency-table button:hover {
  background-color: var(--hover-background-color);
}

.converter-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--primary-text-color);
  text-align: center; 
}

@media (max-width: 768px) {
  .table-container {
      overflow-x: auto; 
  }
}

/* Home */
#home .img {
  background: url('crypto.jpg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

#home .img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.center .title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.center .sub_title {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}

.center .btns {
  margin-top: 20px;
}

.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.center .btns button:first-child {
  color: #fff;
  background: none;
}

.btns button:first-child:hover {
  background: white;
  color: black;
}

.center .btns button:last-child {
  background: white;
  color: black;
}
main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}


main > div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
  color: var(--primary-text-color);
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main > div > a:hover {
  border: 0.525rem solid #fff;
  background-color: var(--primary-text-color);
  color: #fff;
}
.swiper {
  width: 100%;
  padding-top: 1.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 37.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #000;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #000;
  font-weight: bold;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.85rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  height: 400px;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/aed.png")
    no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
  url("img/afn.jpg")    
  no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/all.webp")
    no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/amd.jpg")
    no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/ang.jpg")
    no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}


#main {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding-top: 100vh;
  border:  var(--background-color) solid 10px;
}
#main h1 {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: white;
}
.flex-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
}

.item {
  width: 230px;
  height: 300px;
  position: absolute;
  top: 35%;
  transform: translate(0, -50%);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-size: cover;
  display: inline-block;
  transition: 0.7s ease;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 0.808);
}

.slide .item:nth-child(3) {
  left: 55%;
}

.slide .item:nth-child(4) {
  left: calc(55% + 245px);
}

.slide .item:nth-child(5) {
  left: calc(55% + 490px);
}

.slide .item:nth-child(n + 6) {
  left: calc(55% + 735px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 75%;
  left: 20px;
  max-width: 600px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(27, 34, 48, 0.75);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 15px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.2s 1 forwards;
}

.content .desc {
  width: 90%;
  opacity: 0;
  animation: animate 1s ease-in-out 0.4s 1 forwards;
}

@keyframes animate {
  from {
      opacity: 0;
      filter: blur(5px);
  }
  to {
      opacity: 1;
      filter: blur(0px);
  }
}

#home .title-container .button {
  width: 100%;
  text-align: end;
  position: absolute;
  bottom: 30px;
  right: 3%;
}

#home .title-container .button button {
  padding: 13px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin: 0px 5px;
}

#home .title-container .button button i {
  font-size: 25px;
}

#choose-us {
  position: relative;
  width: 100%;
  height: 100vh;
}
#choose-us {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url("img/team.webp");
  background-size: cover;
  background-position: 43%;
  opacity: .8;
  position: relative;    
}
.center-div {
 position: absolute;
 top: 45%;
 margin-top: -30px;
 width: 80%;
 left: 50%;
 transform: translate(-50%,-50%); 
}

.center-div h2 {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-top: 100px;
}

.center-div p {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 1.8;

}
.choices {
  display: flex;
}

.left-top,
.right-top,
.right-bottom,
.left-bottom {
  position: absolute;
  display: flex;
  transition: .6s;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.left-top:hover,
.right-top:hover,
.right-bottom:hover,
.left-bottom:hover {
  transform: scale(1.1);
}

.left-top {
  left: -70%;
  top:  3%;
}

.right-top {
  left: 70%;
  top: 3%;
}

.right-bottom {
  left: 70%;
  top: 80%;
}

.left-bottom {
  left: -70%;
  top: 80%;
}

.left-top-circle,
.right-top-circle,
.right-bottom-circle,
.left-bottom-circle {
  position: relative;   
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
 
}

.left-top-circle{
  left: 81%;    
}


.left-bottom-circle {
  left: 81%;
}

.left-top-circle img,
.right-top-circle img,
.right-bottom-circle img,
.left-bottom-circle img {
  width: 70%;
  display: block;
  position: absolute;
  top: 15%;
  left: 12%;
}

.left-top-text,
.right-top-text,
.right-bottom-text,
.left-bottom-text {
  position: relative;
  padding: 8px;
  width: 80%;
 
}

.left-top-text {
  left: -27%;
}

.right-top-text {
  left: 7.5%;
}

.right-bottom-text {
  left: 7.5%;
  top: 80%;
}

.left-bottom-text {
  left: -27%;
}

.left-top-text h3,
.right-top-text h3,
.right-bottom-text h3,
.left-bottom-text h3 {
  text-align: right;
  color: var(--primary-text-color);
  opacity: .9;
  font-size: 22px;
}

.right-top-text h3,
.right-bottom-text h3{
  text-align: left;
}

.left-top-text p,
.right-top-text p,
.right-bottom-text p,
.left-bottom-text p {
  margin-top: 30px;
  color: var(--secondary-text-color);
  font-weight: bold;
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
}

#feature-section {
  height: 100vh;
  width: 100%;
  margin-top: 220px;
}
.feature {
  color: var(--secondary-text-color);
  height: 100vh;
  text-align: left;
  width: 100%;
  margin: 0px 89.5px;
  padding: 0px 80px;
}

.feature:after {
  color: rgb(128, 128, 128);
  display: table;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  width: 1px;
  content: ' ';
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 14px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
.feature:before {
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  display: table;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  width: 1px;
  content: ' ';
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 14px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}

#feature {
  height: 150px;
  text-align: center;
  text-decoration: none solid rgb(128, 128, 128);
  width: 1140px;
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 14px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
  padding: 0px 0px 75px;
}

#title-header {
  box-sizing: border-box;
  color: var(--primary-text-color);
  display: inline-block;
  height: 50px;
  position: relative;
  text-align: center;
  text-decoration: none solid rgb(64, 64, 64);
  text-transform: uppercase;
  width: 243px;
  border: 0px none rgb(64, 64, 64);
  font: normal normal bold 45px/40px "Poppins", sans-serif;
  margin: 0px;
  outline: rgb(64, 64, 64) none 0px;
  padding: 0px 0px 10px;
}

#sub {
  box-sizing: border-box;
  color: var(--primary-text-color);
  height: 25px;
  text-align: center;
  text-decoration: none solid rgb(128, 128, 128);
  width: 1140px;
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 16px/25px "Poppins", sans-serif;
  margin: 0px;
  outline: rgb(128, 128, 128) none 0px;
}

#features, #features-2 {
  box-sizing: border-box;
  float: left;
  height: 399px;
  min-height: 1px;
  opacity: 0.9999999403953552;
  position: relative;
  text-align: left;
  width: 585px;
  z-index: 0;
  font: normal normal normal 14px/25px "Poppins", sans-serif;
  padding: 0px 15px;
}

#feature-container {
  height: 78px;
  width: 100%;
  margin: 0px 0px 55px;
}

#ft-text {
  box-sizing: border-box;
  float: left;
  height: 55px;
  width: 55px;
  font: normal normal normal 55px/25px "Poppins", sans-serif;
  margin: 10px 25px 0px 0px;
  outline: rgb(128, 128, 128) none 0px;
}

#logo {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-clock-history' viewBox='0 0 16 16'%3E%3Cpath d='M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z'/%3E%3Cpath d='M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z'/%3E%3Cpath d='M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo2 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo2:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-currency-dollar' viewBox='0 0 16 16'%3E%3Cpath d='M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo3 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo3:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-currency-bitcoin' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927z'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo4 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo4:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-currency-exchange' viewBox='0 0 16 16'%3E%3Cpath d='M0 5a5 5 0 0 0 4.027 4.905 6.5 6.5 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05q-.001-.07.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.5 3.5 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98q-.004.07-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5m16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0m-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674z'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo5 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo5:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-currency-bitcoin' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927z'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo6 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  vertical-align: middle;
  font: italic normal normal 55px/25px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}
#logo6:before {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='var (--primary-text-color)' class='bi bi-chat-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15'/%3E%3C/svg%3E");
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 55px/55px "Poppins", sans-serif;
  outline: rgb(128, 128, 128) none 0px;
}

#title-feature {
  box-sizing: border-box;
  color: var(--primary-text-color);
  height: 28px;
  text-align: left;
  text-decoration: none solid rgb(64, 64, 64);
  width: 555px;
  border: 0px none rgb(64, 64, 64);
  font: normal normal bold 17px/28px "Poppins", sans-serif;
  margin: 0px;
  outline: rgb(64, 64, 64) none 0px;
}

#text-feature{
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  height: 50px;
  text-align: left;
  text-decoration: none solid rgb(128, 128, 128);
  width: 555px;
  border: 0px none rgb(128, 128, 128);
  font: normal normal normal 14px/25px "Poppins", sans-serif;
  margin: 0px;
  outline: rgb(128, 128, 128) none 0px;
}


/*Footer Section/
.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  font-size: larger;
}

.footer h5 {
  color: #ffffff;
  font-size: large;
  
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #f8f9fa;
}

.footer form {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
}

.footer form input[type="email"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  margin-bottom: 0; 
  max-width: 300px; 
}

.footer form button {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  margin-left: 0; 
  text-align: right;
}

.footer form button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*News Page*/
