@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background-color: #EEECE0;
  --section-background: #ececeb;
  --primary-text-color: #4D5850;
  --secondary-text-color: #3F3F3D;
  --accent-color: #8F9B87;
  --button-background-color: #4D5850;
  --hover-background-color: #8F9B87;
  --hover-text-color: #EEECE0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  min-height: 100vh;
  height: auto;
  padding: 20px;
  background: var(--section-background);
}

/* Navbar */
.navbar{
  background-color: var(--primary-text-color);
}

.collapse{
  justify-content: center;
  padding-right: 10%;
}

.nav-link{
  color: var(--background-color);
}

.nav-item{
  font-size: 1.2rem;
}

.nav-item:hover{
  color: var(--hover-text-color);

}

/*About us*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .nav-link.active {
  max-width: 20%;
  width: 50px;
  background-color: lightblue;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

@keyframes activeLinkAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link.active {
  color: red;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item.clicked {
  border: 2px solid blue;
  border-radius: 20px;
  background-color: lightblue;
}

.nav-link.active:hover {
  color: blue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.title-container{
  text-align: center;
  font-weight: bold;
  color: var(--primary-text-color);
  padding-top: 5px;
}

.box {
  border-radius: 150px;
  background: var(--background-color);
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.box:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 0px;
  height: 100%;
  border-radius: 150px;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.30);
  transition: all 0.3s ease;
  background-image: linear-gradient(to right, var(--accent-color) 0%, var(--button-background-color) 100%);
}

.box:hover:before {
  width: 100%;
}

.box:hover .image-wrapper {
  padding: 0;
}

.box:hover .box-desc {
  color: var(--primary-text-color);
}

.box:hover .social li a {
  background: var(--secondary-text-color);
  background-image: none;
  color: var(--hover-text-color);
}

.box:hover .social li a:hover {
  background: var(--background-color);
  color: var(--secondary-text-color);
}

.image-wrapper {
  position: relative;
  max-width: 210px;
  max-height: 210px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.5s ease;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.20);
}

.image-wrapper img {
  border-radius: 50%;
  transition: all 500ms ease;
}


ul.social {
  padding: 30px;
}

ul.social li {
  display: inline-block;
  list-style-type: none;
}

ul.social li a {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: linear-gradient(to right, var(--secondary-text-color) 0%, var(--accent-color) 100%);
  display: inline-block;
  line-height: 36px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.aboutus-text {
  margin: 20px;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  text-align: justify;
}

span {
  font-weight: bold;
}

.developer-type {
  font-size: 0.8rem;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80%;
    margin-top: 10px;
  }

  h5 {
    text-align: center;
  }

  .aboutus-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  ul.social {
    padding: 20px;
  }

  ul.social li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .box {
    width: 90%;
  }

  .aboutus-text {
    font-size: 0.9rem;
    margin: 0 10px;
  }

  .h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
    padding: 5px;
  }

  .developer-type {
    font-size: 0.7rem;
    padding: 5px;
  }

  ul.social {
    padding: 10px;
  }

  ul.social li a {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.aboutus-content {
  display: flex;
  align-items: center;
}

.aboutus-image {
  margin-right: 20px; 
}

.aboutus-image img {
  max-width: 100%;
  height: auto;
}


/*Currency Page*/

.converter-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.crypto-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--primary-text-color);
  text-align: center;
}

input, select{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--primary-text-color);
  overflow-x: auto;
  min-width: 400px;
  
}

.table-scroll {
  max-height: 400px; 
  overflow-y: auto;
}

.currency-table {
  width: 100%;
  border-collapse: collapse;
}

.currency-table th,
.currency-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--secondary-text-color);
}

.currency-table th {
  background-color: var(--accent-color);
  color: var(--hover-text-color);
}

.currency-table tr:hover {
  background-color: var(--hover-background-color);
  transition: background-color 0.3s ease;
}

.currency-table tbody tr:last-child td {
  border: none;
}

.centered-title {
  text-align: center;
  margin: 20px 0;
}

.currency-table button {
  padding: 6px 12px;
  background-color: var(--button-background-color);
  color: var(--hover-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.currency-table button:hover {
  background-color: var(--hover-background-color);
}

.converter-container {
  flex: 1;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--primary-text-color);
  text-align: center;
}

.convert-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.convert-btn:hover {
  background-color: var(--hover-background-color);
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .table-container,
  .converter-container {
    flex-basis: auto;
    max-width: calc(100% - 40px);
    margin: 10px;
  }

  .table-container {
    overflow-x: auto;
  }
}


/* News Page */

.card.news-card {
  height: 100%;
  background-color: var(--section-background);
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-img {
  height: 200px; 
  object-fit: cover;
}


.news-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.card-text {
  font-size: 1em;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: var(--hover-text-color);
  font-size: 1em;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}


/* Footer Section */

.footer {
  background-color: var(--primary-text-color); 
  color: var(--background-color);
  padding: 20px 0;
  font-size: larger;
}

.footer h5 {
  color: var(--background-color); 
  font-size: large;
}

.footer a {
  color: var(--background-color);
}

.footer a:hover {
  color: var(--hover-background-color); 
}

.footer form button{
  background-color: var(--background-color);
}

.footer form button:hover {
  background-color: var(--hover-background-color); 
}

.text-center {
  text-align: center;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

